@model List<CategoryViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<div class="container">
    @foreach (var Category in Model)
    {
        <h3>@Category.Name</h3>
        <div
            id="course-list"
            class="row"
        >
            @foreach (var course in ViewBag.CourseList)
            {
                @if (Category.Id == course.CategoryId)
                {

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img
                                src="/img/@(course.ImageUrl).webp"
                                class="card-img-top"
                                alt="Course Image"
                            >
                            <div class="card-body">
                                <h5 class="card-title">@course.Name</h5>
                                <p class="card-text">@course.Description</p>
                                <p class="card-text">Price: @course.Price</p>
                                <a
                                    class="btn btn-primary"
                                    asp-controller="Course"
                                    asp-action="Details"
                                    asp-route-id="@course.Id"
                                >View Details</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>
