@model IEnumerable<Enrollment>

@{
    ViewData["Title"] = "My Enrollments";
}

<div class="container vh-100">

    <h2 class="mt-5 mb-5 text-center">My Enrollments</h2>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">@TempData["Message"]</div>
    }

    @if (!Model.Any())
    {
        <p>You are not enrolled in any courses yet.</p>
    }
    else
    {
        <div class="row g-4">
            @foreach (var enrollment in Model)
            {
                <div class="col-md-4">
                    <div class="card border-secondary">
                        <div class="card-body">
                            <h5 class="card-title">@enrollment.Course.Name</h5>
                            <p class="card-text">
                                <strong>Enrollment Date:</strong> @enrollment.EnrollmentDatetime.ToString("MMM dd, yyyy")<br>
                                <strong>Student:</strong> @(enrollment.Student.FirstName + " " + @enrollment.Student.LastName)
                            </p>
                            @if (User.IsInRole("Admin"))
                            {
                                <a
                                    asp-action="Delete"
                                    asp-route-courseId="@enrollment.CourseId"
                                    class="btn btn-danger btn-sm"
                                >Unenroll</a>
                            }

                            <a
                                asp-action="Details"
                                asp-controller="Course"
                                asp-route-id="@enrollment.CourseId"
                                class="btn btn-primary btn-sm"
                            >Continue Learning</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    }

</div>