@model OnlineLearningPlatform.ViewModels.QuizViewModel

@{
    var courses = ViewData["CourseList"] as List<CourseViewModel>;
}

<div>
    <h4>QuizViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Quiz Name
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
        <dt class = "col-sm-2">
            Number
        </dt>
        <dd class = "col-sm-10">
            @Model.Number
        </dd>
        <dt class = "col-sm-2">
            Course Order
        </dt>
        <dd class = "col-sm-10">
            @Model.CourseOrder
        </dd>
        <dt class = "col-sm-2">
            Min Pass Score
        </dt>
        <dd class = "col-sm-10">
            @Model.MinPassScore
        </dd>
        <dt class = "col-sm-2">
            Is Pass Required
        </dt>
        <dd class = "col-sm-10">
            @Model.IsPassRequired
        </dd>
        <dt class = "col-sm-2">
            Course Name
        </dt>
        <dd class = "col-sm-10">
            @courses?.FirstOrDefault(c => c.Id == Model.CourseId)?.Name
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
