@model IEnumerable<QuizViewModel>

@{
    ViewData["Title"] = "Admin Quiz Page";
    var courses = ViewData["CoursesViewModel"] as IEnumerable<CourseViewModel>;
    @* var quizViewModel = ViewData["QuizViewModel"] as QuizViewModel; *@
    var targetQuizId = 0;
}

<div class="container">
    <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
        Create Quiz
    </button>
    <table class="table">
        <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Number</td>
            <td>Course Order</td>
            <td>Pass Score</td>
            <td>Is Pass Required</td>
            <td>Course</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var quiz in Model.ToList()) {
            // get the id for modal
            targetQuizId = quiz.Id;

            <tr>
                <td>@(Model.ToList().IndexOf(quiz) + 1)</td>
                <td>@quiz.Name</td>
                <td>@quiz.Number</td>
                <td>@quiz.CourseOrder</td>
                <td>@quiz.MinPassScore</td>
                <td>@quiz.IsPassRequired</td>
                @if (courses != null) {
                    <td>@courses.FirstOrDefault(c => c.Id == quiz.CourseId)?.Name</td>
                }
                <td>
                    <!-- Button trigger modal -->
                    <a
                        asp-action="Edit"
                        asp-route-id="@quiz.Id"
                        class="btn btn-primary">
                        Edit
                    </a>
                    <!-- Button trigger modal -->
                    <a
                        asp-action="ConfirmDelete"
                        asp-route-id="@targetQuizId"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteQuizModal">
                        Delete
                    </a>
                    <a class="btn btn-outline-success" asp-action="Index" asp-controller="QuizQuestion" asp-route-quizId="@quiz.Id">
                        Add Qoustions
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                    class="modal-title fs-5"
                    id="staticBackdropLabel">
                    Modal title
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p class="text-warning">
                    The Fields Data is the last Added Quiz Data
                    <m class="text-danger">Avoid Duplication</m>
                </p>
                <form asp-action="CreateQuiz" method="post">
                    <div
                        asp-validation-summary="ModelOnly"
                        class="text-danger">
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Quiz Name
                        </label>
                        <input
                            asp-for="@Model.Last().Name"
                            class="form-control"/>
                        <span
                            asp-validation-for="@Model.Last().Name"
                            class="text-danger">
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Number
                        </label>
                        <input
                            asp-for="@Model.Last().Number"
                            class="form-control"/>
                        <span
                            asp-validation-for="@Model.Last().Number"
                            class="text-danger">
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Course Order
                        </label>
                        <input
                            asp-for="@Model.Last().CourseOrder"
                            class="form-control"/>
                        <span
                            asp-validation-for="@Model.Last().CourseOrder"
                            class="text-danger">
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Min Pass Score
                        </label>
                        <input
                            asp-for="@Model.Last().MinPassScore"
                            class="form-control"/>
                        <span
                            asp-validation-for="@Model.Last().MinPassScore"
                            class="text-danger">
                        </span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input
                                class="form-check-input"
                                asp-for="@Model.Last().IsPassRequired"/> Is Pass Required
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Course Name
                        </label>
                        <select
                            class="form-control"
                            asp-for="@Model.Last().CourseId"
                            asp-items="@(new SelectList(courses, "Id", "Name"))">
                        </select>
                        <span
                            asp-validation-for="@Model.Last().CourseId"
                            class="text-danger">
                        </span>
                    </div>
                    <div class="form-group">
                        <input
                            type="submit"
                            value="Save"
                            class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div
    class="modal fade"
    id="deleteQuizModal"
    tabindex="-1"
    aria-labelledby="deleteQuizModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                    class="modal-title fs-5"
                    id="deleteQuizModalLabel">
                    Are You Sure that you need to delete this Quiz
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form
                    method="post"
                    asp-action="ConfirmDelete"
                    asp-route-id="@targetQuizId">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Close
                    </button>
                    <button
                        type="submit"
                        class="btn btn-danger">
                        Confirm Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="quizIndex.js"></script>
}