@model IEnumerable<QuizViewModel>

@{
    ViewData["Title"] = "Admin Quiz Page";
    var courses = ViewData["CoursesViewModel"] as IEnumerable<CourseViewModel>;
    var targetQuizId = 0;
}

<div class="container my-4 vh-100">
    @* <button
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
    >
    Create Quiz
    </button> *@

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary">Quiz Management</h2>
        <a
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            class="btn btn-primary btn-lg"
        >
            <i class="fas fa-plus-circle"></i> Create Quiz
        </a>
    </div>

    <div class="row">
        @foreach (var quiz in Model)
        {
            targetQuizId = quiz.Id;
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm rounded-3">
                    <div class="card-body">
                        <h5 class="card-title">@quiz.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Number: @quiz.Number</h6>
                        <p class="card-text">
                            <strong>Course:</strong> <a
                                href="#"
                                class="text-decoration-none"
                            >@courses?.FirstOrDefault(c => c.Id == quiz.CourseId)?.Name</a>
                        </p>
                        <div class="d-flex justify-content-evenly">
                            <a
                                asp-action="Edit"
                                asp-route-id="@quiz.Id"
                                class="btn btn-outline-primary btn-sm"
                            >
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a
                                asp-action="ConfirmDelete"
                                asp-route-id="@quiz.Id"
                                class="btn btn-outline-danger btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteQuizModal"
                            >
                                <i class="bi bi-trash"></i> Delete
                            </a>
                            <a
                                asp-action="Index"
                                asp-controller="QuizQuestion"
                                asp-route-quizId="@quiz.Id"
                                class="btn btn-outline-success btn-sm"
                            >
                                <i class="bi bi-journal-text"></i> Questions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Create Quiz Modal -->
<div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                    class="modal-title fs-5"
                    id="staticBackdropLabel">
                    Modal title
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p class="text-warning">
                    The Fields Data is the last Added Quiz Data
                    <m class="text-danger">Avoid Duplication</m>
                </p>
                <form asp-action="CreateQuiz" method="post">
                    <div
                        asp-validation-summary="All"
                        class="text-danger">
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Quiz Name
                        </label>
                        <input
                            asp-for="@Model.Last().Name"
                            class="form-control"/>
                        <span
                            asp-validation-for="@Model.Last().Name"
                            class="text-danger">
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Number
                        </label>
                        <input
                            asp-for="@Model.Last().Number"
                            class="form-control"/>
                        <span
                            asp-validation-for="@Model.Last().Number"
                            class="text-danger">
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Course Order
                        </label>
                        <input
                            asp-for="@Model.Last().CourseOrder"
                            class="form-control"/>
                        <span
                            asp-validation-for="@Model.Last().CourseOrder"
                            class="text-danger">
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Min Pass Score
                        </label>
                        <input
                            asp-for="@Model.Last().MinPassScore"
                            class="form-control"/>
                        <span
                            asp-validation-for="@Model.Last().MinPassScore"
                            class="text-danger">
                        </span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input
                                class="form-check-input"
                                asp-for="@Model.Last().IsPassRequired"/> Is Pass Required
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Course Name
                        </label>
                        <select
                            class="form-control"
                            asp-for="@Model.Last().CourseId"
                            asp-items="@(new SelectList(courses, "Id", "Name"))">
                        </select>
                        <span
                            asp-validation-for="@Model.Last().CourseId"
                            class="text-danger">
                        </span>
                    </div>
                    <div class="form-group">
                        <input
                            type="submit"
                            value="Save"
                            class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Quiz Modal -->
<div
    class="modal fade"
    id="deleteQuizModal"
    tabindex="-1"
    aria-labelledby="deleteQuizModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                    class="modal-title fs-5"
                    id="deleteQuizModalLabel"
                >Confirm Delete</h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    method="post"
                    asp-action="ConfirmDelete"
                    asp-route-id="@targetQuizId"
                >
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Close</button>
                    <button
                        type="submit"
                        class="btn btn-danger"
                    >Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="quizIndex.js"></script>
}
