@model IEnumerable<CourseViewModel>

@{
    ViewData["Title"] = "Courses";
    var categories = ViewData["Categories"] as List<CategoryViewModel>;
}

<head>

    <link
        rel="stylesheet"
        href="~/@(nameof(OnlineLearningPlatform)).styles.css"
        asp-append-version="true"
    >
</head>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1
                id="course-list-heading"
                class="text-center"
            >Courses</h1>
        </div>
    </div>

    <!-- Search and Filter -->
    <div
        class="row mb-4"
        id="search-and-filter"
    >
        <div class="col-md-8">
            <input
                type="text"
                id="search-query"
                class="form-control"
                placeholder="Search for courses..."
            >
        </div>
        <div class="col-md-4">
            <select
                name="category"
                id="category-filter"
                class="form-control"
            >
                <option value="">All Categories</option>
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
    </div>

    <!-- Course List -->

    <div
        id="course-list"
        class="row"
    >
        @foreach (var course in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img
                        src="/img/@(course.ImageUrl).webp"
                        class="card-img-top"
                        alt="Course Image"
                    >
                    <div class="card-body">
                        <h5 class="card-title">@course.Name</h5>
                        <p class="card-text">@course.Description</p>
                        <p class="card-text">Price: @course.Price</p>
                        @categories?.FirstOrDefault(c => c.Id == course.CategoryId)?.Name
                        <a
                            class="btn btn-primary"
                            asp-controller="Course"
                            asp-action="Details"
                            asp-route-id="@course.Id"
                        >View Details</a>
                        <a
                            class="btn btn-primary"
                            asp-controller="Course"
                            asp-action="Edit"
                            asp-route-id="@course.Id"
                        >
                            Edit
                        </a>
                        <a
                            class="btn btn-danger"
                            asp-controller="Course"
                            asp-action="Delete"
                            asp-route-id="@course.Id"
                        >
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script src="~/js/course.js"></script>
}
